[tool.poetry]
name = "sudoisbot"
version = "0.1.9"
description = ""
authors = ["Benedikt Kristinsson <benedikt@lokun.is>"]

[tool.poetry.dependencies]
python = "^3.7"
python-telegram-bot = "*"
PyYAML = "*"
zmq = "^0.0.0"
numpy = "^1.18.4"
matplotlib = "^3.2.1"
loguru = "^0.5.0"
temper = {git = "https://github.com/benediktkr/temper.git"}

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[tool.poetry.scripts]
listener = "sudoisbot.tglistener:main"
sendtelegram = "sudoisbot.sendtelegram:main"
proxy = "proxy.proxy:main"
temper_sub = "temper.temper_sub:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
